html, body {
  margin: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;
}

pre {
  font-family: "BigBlueTermPlus Nerd Font Mono";
}

.center {
  margin: auto;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.folder {
  display: inline-block;
  color: cyan;
  font-size: large;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  width: 15px;
  margin-bottom: -5px;
}

pre {
  font-family: "BigBlueTermPlus Nerd Font Mono";
}

.center {
  margin: auto;
}

#sidebar {
  display: inline;
  float: left;
  background-color: #232532;
  height: 100%;
}

.fileName {
  display: inline;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  z-index: 0;
  position: relative;
}

.active {
  background-color: #2e3142;
}

#sidebar {
  display: inline;
  float: left;
  background-color: #232532;
  height: 100%;
  width: 300px;
}

#editor {
  display: inline;
  float: right;
  height: 100%;
  width: calc(100% - 300px);
  background-color: #343744;
}

#explorer {
  color: orange;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

#searchHolder {
  border: solid orange 2px;
  border-radius: 3px;
  width: 95%;
  height: 20px;
  margin: none;
  padding: none;
  margin: auto;
}

#searchInput {
  width: 80%;
  border: none;
  background: none;
  color: white;
  font-family: "BigBlueTermPlus Nerd Font Mono"
}

#editorIframe {
  width: 99%;
  height: 100%;
  overflow: auto;
}

input:focus {
  outline: none;
}

.fileButton {
  display: inline-block;
  width: 100%;
}

.fileButton:hover {
  background-color: #1b1c24;
}
