html, body {
    margin: 0;
    padding: 0;
}

.header-button {
    color: white;
    border: none;
    background: none;
    font-size: x-large;
    height: 50px;
    cursor: pointer;
    text-align: left;
}

.hover-underline-animation {
    display:inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: #4B9CDF;
    background: linear-gradient(90deg,rgba(75, 156, 223, 1) 0%, rgba(129, 206, 245, 1) 50%, rgba(254, 254, 254, 1) 100%);;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation.active::after {
    transform: scaleX(1);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation::after {
  transform-origin: bottom left;
}

#header-container {
    background-color: #333;
}

#header {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

#logo-button {
    cursor: pointer;
}

#button-holder {
    display: flex;
    width: calc(100% - 500px);
    justify-content: flex-end;
    gap: 40px;
}

#talents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

#seperator {
    margin: 0;
    padding: 0;
    height: 1px;
    background: #4B9CDF;
    background-image: linear-gradient(90deg,rgba(75, 156, 223, 1) 0%, rgba(129, 206, 245, 1) 50%, rgba(254, 254, 254, 1) 100%);
}